@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

body {
  margin: 0;
  font-family: "Mulish",sans-serif;
  font-weight: 700;
  background-color: #F2F2F2;
}
a {
  text-decoration: none;
  color: #292F36;
  padding: 10px 10px;
}
a:hover {
  padding: 10px 10px;
  border-radius: 8px;
  background-image: linear-gradient(to top left,#ff6b6b,#ba2063);
  color: #FFFFFF;
  cursor: pointer;
}
 a:hover.logo-link {
      background-image: none;
 }

@media (max-width: 648px) {
  a {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #292F36;
  }
}